<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.staffmanagement">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.staffmanagement.View.Main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.staffmanagement.View.Admin.SendNotificationActivity.SendNotificationActivity"/>
        <activity
            android:name="com.example.staffmanagement.View.Admin.DetailRequestUser.DetailRequestUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Admin.Home.AdminHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Staff.Home.StaffHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Admin.UserManagementActivity.AddUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Staff.UserProfile.StaffUserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Staff.RequestManagement.RequestCrudActivity.StaffRequestCrudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Admin.UserManagementActivity.AdminInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Admin.UserRequestActivity.UserRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Staff.RequestManagement.RequestActivity.StaffRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.staffmanagement.View.Admin.MainAdminActivity.MainAdminActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.staffmanagement.View.Main.LoginActivity" />
        <activity
            android:name="com.example.staffmanagement.View.Main.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".View.Admin.SendNotificationActivity.Service.MyFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".View.Admin.SendNotificationActivity.Service.Broadcast">
            <intent-filter>
                <action android:name="Notification" />
            </intent-filter>
        </receiver>
    </application>

</manifest>